.page_content {
  transform: translateZ(0);
  backface-visibility: hidden;
}
#page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p_anim {
  font-size: 12px;
}

.hero_content {
  width: 20vw;
  margin-bottom: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  height: 100vh;
}
.img_hero {
  transform: translateY(150%) translateZ(0);
}
