.links {
  position: relative;
  display: block;
  text-transform: uppercase;
}
.line_a {
  width: 100%;
  height: 1px;
  overflow: hidden;
}
.line_a_inner {
  width: 100%;
  height: 100%;
  background-color: var(--text_color);
  transform: translateX(-100%) translateZ(0);
  will-change: transform;
}
@media (max-width: 900px) {}