@import "./styles/index.css";
:root {
  --text_color: rgb(0, 0, 0);
  --spacing: "20px";
}
@font-face {
  font-family: "Lay";
  src: url("/fonts/NeueMontreal-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Lay;
  background-color: #000000;
  color: var(--text_color);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
main {
  background-color: #ffffff;
  width: 100%;
}
