@import './styles/index.css';
:root {
  --text_color: rgb(0, 0, 0);
  --spacing: '20px';
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: #000000;
  color: var(--text_color);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
main {
  background-color: #ffffff;
  width: 100%;
}
